{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post',
    'action': path('fos_user_change_password'),
    'attr': {'class': 'fos_user_change_password'}})
}}
<h1 class="h3 mb-3 font-weight-normal">{{ 'change_password'|trans({}, 'messages') }}</h1>

    {{ form_row(form.current_password) }}

    {{ form_row(form.plainPassword) }}

<div>
    <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
    <a class="btn btn-secondary" href="{{ path('home') }}">{{ 'to_home'|trans({}, 'messages') }}</a>
</div>

{{ form_end(form) }}
